#header.header.navbar-fixed-top.background-white
  .container
    .logo(routerLink='/')
    .main-nav.navbar-right(role='navigation')
      .navbar-header
        button.navbar-toggle.burger-margin(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-collapse.navbar-collapse.collapse.navbar-margin.nav-collapsed-margin
        ul.nav.navbar-nav
          li.nav-item(
          routerLink='/',
          routerLinkActive='active',
          [routerLinkActiveOptions]='{exact: true}')
            a Home

          li.nav-item(
          routerLink='/about',
          routerLinkActive='active',
          [routerLinkActiveOptions]='{exact: true}')
            a About

          li.nav-item(
          routerLink='/expertise',
          routerLinkActive='active',
          [routerLinkActiveOptions]='{exact: true}')
            a Expertise

          li.nav-item(
          routerLink='/labs',
          routerLinkActive='active',
          [routerLinkActiveOptions]='{exact: true}')
            a Labs

          li.dropdown
            a.dropdown-style.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Resources
              span.caret
            ul.dropdown-menu
              li
                a.dropdown-style(routerLink='/news') News
              li
                a.dropdown-style(routerLink='/brochures') Brochures
              li
                a.dropdown-style(routerLink='/case-studies') Case Studies
              li
                a.dropdown-style(routerLink='/career') Career

          li.nav-item(
          routerLink='/contact',
          routerLinkActive='active',
          [routerLinkActiveOptions]='{exact: true}')
            a Contact                                            
